In this project, I would be performing an exploratory data analysis on African food production between 2014 - 2018.

The dataset is provided by the Food and Agriculture Organization of the United Nations and is made available by the link below

https://bit.ly/3PmPJKT

I will be answering the following questions:


1. What is the total sum of Animal Fat produced in 2014 and 2017 respectively?


2. What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?


3. What is the total number and percentage of missing data in 2016 to 2 decimal places?


4. Which year had the highest correlation with ‘Element Code’? 


5. What year has the highest sum of Import Quantity?


6. What is the total number of the sum of Production in 2014?


7. Which of the elements had the highest sum in 2018?


8. Which of theelements had the 3rd lowest sum in 2018?


9. What is the total Import Quantity in Algeria in 2018?


10. What is the total number of unique countries in the dataset?

In [89]:
import pandas as pd  
import numpy as np

In [90]:
url='https://raw.githubusercontent.com/stanleyokali/files/main/food.csv'
df = pd.read_csv(url,encoding ='cp1252')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

**What is the total sum of Animal Fat produced in 2014 and 2017 respectively?**

In [91]:
# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

df.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [92]:
#ALTERNATIVE SOLUTION
df1=df.groupby('Item')['Y2014','Y2017'].sum()
df1.loc[['Animal fats'], ['Y2014','Y2017']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

**What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?**

In [93]:
df.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [94]:
#ALTERNATIVE
df['Y2015'].mean()

135.23596649549626

**What is the total number and percentage of missing data in 2016 to 2 decimal places?**

In [95]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [96]:
#ALTERANTIVE
df['Y2016'].isnull().sum()

1535

**Which year had the highest correlation with ‘Element Code’?**

In [97]:
a=df['Element Code'].corr(df['Y2014'])
b=df['Element Code'].corr(df['Y2015'])
c=df['Element Code'].corr(df['Y2016'])
d=df['Element Code'].corr(df['Y2017'])
e=df['Element Code'].corr(df['Y2018'])

In [98]:
print(a,b,c,d,e)

#a=2014 has the highest corellation with Element Code

0.024456819495221754 0.023889199301639956 0.023443997584961424 0.02425400776004575 0.02427857195351955

**What year has the highest sum of Import Quantity?**

In [100]:
# Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

#ANSWER = 2017 (294559.09)

df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [101]:
#ALTERNATIVE SOLUTION
df2=df.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()
df2.loc[['Import Quantity'], ['Y2014','Y2015','Y2016','Y2017','Y2018']]

#ANSWER Y2017 HAS THE HIGHEST NUMBER OF IMPORT QUANTITY

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                     Y2014      Y2015      Y2016      Y2017      Y2018
Element
Import Quantity  274144.48  267018.46  286582.78  294559.09  287997.09

**What is the total number of the sum of Production in 2014?**

In [102]:
# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [103]:
#ALTERNATIVE

df3=df.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()
df3.loc[['Production'], ['Y2014']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                 Y2014
Element
Production  1931287.75

**Which of these elements had the highest sum in 2018? a.import quantity b.domestic supply quantity c. food supply quantity d.food supply**

In [104]:
#Hint-  Select columns ‘Y2018’ and ‘Element’,
#Perform a groupby operation on ‘Element’ 
#on the selected dataframe and answer the  question.

df.groupby('Element')['Y2018'].sum()
xx=df.groupby('Element')['Y2018'].sum()
xx
sorted = xx.sort_values(ascending=False)
print(sorted.head())


#answer = b (domestic supply quantity)

Element
Domestic supply quantity         2161192.10
Production                       2075072.89
Food                             1303841.28
Total Population - Both sexes    1140605.00
Food supply (kcal/capita/day)     455261.00
Name: Y2018, dtype: float64

**Which of these elements had the 3rd lowest sum in 2018? a.fat supply quantity b.seed c.food supply quantity d.food supply e.protein supply quantity**

In [105]:
#Hint-  Select columns ‘Y2018’ and ‘Element’, 
#Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question. 

df.groupby('Element')['Y2018'].sum()
xx=df.groupby('Element')['Y2018'].sum()
xx
sorted = xx.sort_values()
print(sorted.head())


#answer is e = protein supply quantity

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Name: Y2018, dtype: float64

**What is the total Import Quantity in Algeria in 2018?a.36238.29 b.37841.91 c.36059.29 d.36736.08**

In [106]:
df["Element And Area"] = df['Element'].astype(str) +"-"+ df["Area"]
df


cc=df.groupby('Element And Area')['Y2018'].sum()

print(cc.to_string())

Element And Area
Domestic supply quantity-Algeria                                       90023.42
Domestic supply quantity-Angola                                        59590.22
Domestic supply quantity-Benin                                         31447.90
Domestic supply quantity-Botswana                                       3045.85
Domestic supply quantity-Burkina Faso                                  25705.16
Domestic supply quantity-Cabo Verde                                      731.00
Domestic supply quantity-Cameroon                                      64009.74
Domestic supply quantity-Central African Republic                       5567.06
Domestic supply quantity-Chad                                          15489.73
Domestic supply quantity-Comoros                                          19.95
Domestic supply quantity-Congo                                          8524.55
Domestic supply quantity-Côte d'Ivoire                                 55557.64
Domestic supply quantity-Djibouti                                       2760.96
Domestic supply quantity-Egypt                                        248477.72
Domestic supply quantity-Eswatini                                      13158.81
Domestic supply quantity-Ethiopia                                     107850.72
Domestic supply quantity-Ethiopia PDR                                      0.00
Domestic supply quantity-Gabon                                          4608.75
Domestic supply quantity-Gambia                                         2221.89
Domestic supply quantity-Ghana                                        100558.45
Domestic supply quantity-Guinea                                        25292.85
Domestic supply quantity-Guinea-Bissau                                  2049.58
Domestic supply quantity-Kenya                                         67202.58
Domestic supply quantity-Lesotho                                        2062.73
Domestic supply quantity-Liberia                                        4998.99
Domestic supply quantity-Madagascar                                    32596.87
Domestic supply quantity-Malawi                                        50937.37
Domestic supply quantity-Mali                                          40795.02
Domestic supply quantity-Mauritania                                    22053.08
Domestic supply quantity-Mauritius                                      8290.36
Domestic supply quantity-Morocco                                       86458.07
Domestic supply quantity-Mozambique                                    42581.75
Domestic supply quantity-Namibia                                        4019.66
Domestic supply quantity-Niger                                         31258.84
Domestic supply quantity-Nigeria                                      428323.32
Domestic supply quantity-Rwanda                                        17426.52
Domestic supply quantity-Sao Tome and Principe                           349.73
Domestic supply quantity-Senegal                                       19374.64
Domestic supply quantity-Seychelles                                       10.68
Domestic supply quantity-Sierra Leone                                  12753.68
Domestic supply quantity-South Africa                                 126493.86
Domestic supply quantity-Sudan                                         65451.77
Domestic supply quantity-Sudan (former)                                    0.00
Domestic supply quantity-Togo                                          10000.22
Domestic supply quantity-Tunisia                                       31347.90
Domestic supply quantity-Uganda                                        54617.10
Domestic supply quantity-United Republic of Tanzania                   92239.88
Domestic supply quantity-Zambia                                        24994.80
Domestic supply quantity-Zimbabwe                                      17860.73
Export Quantity-Algeria                                                  811.54
Export Quantity-Angola                                                  7962.28
Export Quantity-Benin                                                    729.44
Export Quantity-Botswana                                                 101.68
Export Quantity-Burkina Faso                                            1088.16
Export Quantity-Cabo Verde                                                42.99
Export Quantity-Cameroon                                                1078.16
Export Quantity-Central African Republic                                   0.26
Export Quantity-Chad                                                      36.22
Export Quantity-Comoros                                                    0.00
Export Quantity-Congo                                                     25.03
Export Quantity-Côte d'Ivoire                                           8120.48
Export Quantity-Djibouti                                                1084.00
Export Quantity-Egypt                                                   9420.24
Export Quantity-Eswatini                                                1262.04
Export Quantity-Ethiopia                                                2138.78
Export Quantity-Ethiopia PDR                                               0.00
Export Quantity-Gabon                                                     16.30
Export Quantity-Gambia                                                  1390.59
Export Quantity-Ghana                                                   4284.86
Export Quantity-Guinea                                                   191.61
Export Quantity-Guinea-Bissau                                            156.00
Export Quantity-Kenya                                                   3086.45
Export Quantity-Lesotho                                                   80.96
Export Quantity-Liberia                                                   65.48
Export Quantity-Madagascar                                               535.81
Export Quantity-Malawi                                                   597.18
Export Quantity-Mali                                                     165.30
Export Quantity-Mauritania                                             36217.88
Export Quantity-Mauritius                                               3387.12
Export Quantity-Morocco                                                42429.99
Export Quantity-Mozambique                                              1394.81
Export Quantity-Namibia                                                 1712.92
Export Quantity-Niger                                                   2017.22
Export Quantity-Nigeria                                                 1233.02
Export Quantity-Rwanda                                                   383.64
Export Quantity-Sao Tome and Principe                                     10.00
Export Quantity-Senegal                                                 4451.63
Export Quantity-Seychelles                                               205.14
Export Quantity-Sierra Leone                                             143.90
Export Quantity-South Africa                                           31630.62
Export Quantity-Sudan                                                   1632.13
Export Quantity-Sudan (former)                                             0.00
Export Quantity-Togo                                                     809.35
Export Quantity-Tunisia                                                 1649.87
Export Quantity-Uganda                                                  4095.70
Export Quantity-United Republic of Tanzania                             2289.77
Export Quantity-Zambia                                                  1011.54
Export Quantity-Zimbabwe                                                 416.71
Fat supply quantity (g/capita/day)-Algeria                               309.09
Fat supply quantity (g/capita/day)-Angola                                230.90
Fat supply quantity (g/capita/day)-Benin                                 207.82
Fat supply quantity (g/capita/day)-Botswana                              261.12
Fat supply quantity (g/capita/day)-Burkina Faso                          264.29
Fat supply quantity (g/capita/day)-Cabo Verde                            264.32
Fat supply quantity (g/capita/day)-Cameroon                              217.53
Fat supply quantity (g/capita/day)-Central African Republic              242.76
Fat supply quantity (g/capita/day)-Chad                                  211.53
Fat supply quantity (g/capita/day)-Congo                                 181.82
Fat supply quantity (g/capita/day)-Côte d'Ivoire                         237.96
Fat supply quantity (g/capita/day)-Djibouti                              247.43
Fat supply quantity (g/capita/day)-Egypt                                 238.72
Fat supply quantity (g/capita/day)-Eswatini                              189.94
Fat supply quantity (g/capita/day)-Ethiopia                              108.49
Fat supply quantity (g/capita/day)-Gabon                                 211.75
Fat supply quantity (g/capita/day)-Gambia                                241.96
Fat supply quantity (g/capita/day)-Ghana                                 164.21
Fat supply quantity (g/capita/day)-Guinea                                274.89
Fat supply quantity (g/capita/day)-Guinea-Bissau                         245.35
Fat supply quantity (g/capita/day)-Kenya                                 191.54
Fat supply quantity (g/capita/day)-Lesotho                               211.10
Fat supply quantity (g/capita/day)-Liberia                               196.34
Fat supply quantity (g/capita/day)-Madagascar                             96.43
Fat supply quantity (g/capita/day)-Malawi                                161.35
Fat supply quantity (g/capita/day)-Mali                                  235.33
Fat supply quantity (g/capita/day)-Mauritania                            268.78
Fat supply quantity (g/capita/day)-Mauritius                             377.28
Fat supply quantity (g/capita/day)-Morocco                               284.16
Fat supply quantity (g/capita/day)-Mozambique                            195.06
Fat supply quantity (g/capita/day)-Namibia                               219.81
Fat supply quantity (g/capita/day)-Niger                                 209.32
Fat supply quantity (g/capita/day)-Nigeria                               218.84
Fat supply quantity (g/capita/day)-Rwanda                                123.56
Fat supply quantity (g/capita/day)-Sao Tome and Principe                 286.54
Fat supply quantity (g/capita/day)-Senegal                               243.21
Fat supply quantity (g/capita/day)-Sierra Leone                          199.86
Fat supply quantity (g/capita/day)-South Africa                          331.72
Fat supply quantity (g/capita/day)-Sudan                                 263.63
Fat supply quantity (g/capita/day)-Togo                                  197.24
Fat supply quantity (g/capita/day)-Tunisia                               379.37
Fat supply quantity (g/capita/day)-Uganda                                200.36
Fat supply quantity (g/capita/day)-United Republic of Tanzania           214.16
Fat supply quantity (g/capita/day)-Zambia                                193.83
Fat supply quantity (g/capita/day)-Zimbabwe                              207.99
Feed-Algeria                                                           10668.00
Feed-Angola                                                             7859.66
Feed-Benin                                                              4662.54
Feed-Botswana                                                             28.04
Feed-Burkina Faso                                                       1031.50
Feed-Cabo Verde                                                           48.00
Feed-Cameroon                                                           4857.24
Feed-Central African Republic                                              5.00
Feed-Chad                                                               1150.00
Feed-Comoros                                                               0.00
Feed-Congo                                                                39.66
Feed-Côte d'Ivoire                                                      6410.00
Feed-Djibouti                                                            298.00
Feed-Egypt                                                             25158.30
Feed-Eswatini                                                             82.00
Feed-Ethiopia                                                           3669.00
Feed-Ethiopia PDR                                                          0.00
Feed-Gabon                                                               573.00
Feed-Gambia                                                              114.02
Feed-Ghana                                                             14730.28
Feed-Guinea                                                             4090.00
Feed-Guinea-Bissau                                                        22.00
Feed-Kenya                                                              1496.28
Feed-Lesotho                                                             142.00
Feed-Liberia                                                             118.00
Feed-Madagascar                                                         2133.60
Feed-Malawi                                                            17802.40
Feed-Mali                                                               3369.30
Feed-Mauritania                                                           63.34
Feed-Mauritius                                                           501.18
Feed-Morocco                                                           13679.87
Feed-Mozambique                                                         2485.17
Feed-Namibia                                                             119.40
Feed-Niger                                                              2389.00
Feed-Nigeria                                                           73064.53
Feed-Rwanda                                                               96.00
Feed-Sao Tome and Principe                                                 0.00
Feed-Senegal                                                             381.41
Feed-Seychelles                                                            4.14
Feed-Sierra Leone                                                       2170.00
Feed-South Africa                                                      12413.42
Feed-Sudan                                                              1887.00
Feed-Sudan (former)                                                        0.00
Feed-Togo                                                               1171.62
Feed-Tunisia                                                            5621.70
Feed-Uganda                                                              297.04
Feed-United Republic of Tanzania                                        4495.06
Feed-Zambia                                                             1950.66
Feed-Zimbabwe                                                            141.32
Food supply (kcal/capita/day)-Algeria                                  13288.00
Food supply (kcal/capita/day)-Angola                                    9538.00
Food supply (kcal/capita/day)-Benin                                    11023.00
Food supply (kcal/capita/day)-Botswana                                  9365.00
Food supply (kcal/capita/day)-Burkina Faso                             10951.00
Food supply (kcal/capita/day)-Cabo Verde                               10164.00
Food supply (kcal/capita/day)-Cameroon                                 10929.00
Food supply (kcal/capita/day)-Central African Republic                  7141.00
Food supply (kcal/capita/day)-Chad                                      8457.00
Food supply (kcal/capita/day)-Congo                                     9141.00
Food supply (kcal/capita/day)-Côte d'Ivoire                            11110.00
Food supply (kcal/capita/day)-Djibouti                                 10779.00
Food supply (kcal/capita/day)-Egypt                                    13166.00
Food supply (kcal/capita/day)-Eswatini                                  9701.00
Food supply (kcal/capita/day)-Ethiopia                                  9352.00
Food supply (kcal/capita/day)-Gabon                                    10531.00
Food supply (kcal/capita/day)-Gambia                                   10128.00
Food supply (kcal/capita/day)-Ghana                                    12134.00
Food supply (kcal/capita/day)-Guinea                                   10981.00
Food supply (kcal/capita/day)-Guinea-Bissau                             8916.00
Food supply (kcal/capita/day)-Kenya                                     8781.00
Food supply (kcal/capita/day)-Lesotho                                   9288.00
Food supply (kcal/capita/day)-Liberia                                   8667.00
Food supply (kcal/capita/day)-Madagascar                                7748.00
Food supply (kcal/capita/day)-Malawi                                    9566.00
Food supply (kcal/capita/day)-Mali                                     11492.00
Food supply (kcal/capita/day)-Mauritania                               11501.00
Food supply (kcal/capita/day)-Mauritius                                12198.00
Food supply (kcal/capita/day)-Morocco                                  13644.00
Food supply (kcal/capita/day)-Mozambique                                8404.00
Food supply (kcal/capita/day)-Namibia                                   9871.00
Food supply (kcal/capita/day)-Niger                                    10311.00
Food supply (kcal/capita/day)-Nigeria                                  10285.00
Food supply (kcal/capita/day)-Rwanda                                    8748.00
Food supply (kcal/capita/day)-Sao Tome and Principe                     9786.00
Food supply (kcal/capita/day)-Senegal                                  10186.00
Food supply (kcal/capita/day)-Sierra Leone                              9476.00
Food supply (kcal/capita/day)-South Africa                             11589.00
Food supply (kcal/capita/day)-Sudan                                    10309.00
Food supply (kcal/capita/day)-Togo                                      9768.00
Food supply (kcal/capita/day)-Tunisia                                  13804.00
Food supply (kcal/capita/day)-Uganda                                    7925.00
Food supply (kcal/capita/day)-United Republic of Tanzania               9487.00
Food supply (kcal/capita/day)-Zambia                                    8005.00
Food supply (kcal/capita/day)-Zimbabwe                                  7627.00
Food supply quantity (kg/capita/yr)-Algeria                             1509.28
Food supply quantity (kg/capita/yr)-Angola                              1209.36
Food supply quantity (kg/capita/yr)-Benin                               1411.42
Food supply quantity (kg/capita/yr)-Botswana                            1055.79
Food supply quantity (kg/capita/yr)-Burkina Faso                        1039.07
Food supply quantity (kg/capita/yr)-Cabo Verde                          1051.85
Food supply quantity (kg/capita/yr)-Cameroon                            1397.30
Food supply quantity (kg/capita/yr)-Central African Republic             955.84
Food supply quantity (kg/capita/yr)-Chad                                 636.12
Food supply quantity (kg/capita/yr)-Congo                               1198.66
Food supply quantity (kg/capita/yr)-Côte d'Ivoire                       1302.78
Food supply quantity (kg/capita/yr)-Djibouti                             826.88

In [107]:
cc.loc[['Import Quantity-Algeria']]


#ANSWER = A(36238.29)

Element And Area
Import Quantity-Algeria    36238.29
Name: Y2018, dtype: float64

**What is the total number of unique countries in the dataset?**

In [108]:
df.groupby('Area')['Area'].nunique().sum()

49